<div class="ticket-snippet">
    {% if post.user.username == user.username %}
        <span><p>Vous avez demandé une critique</p><p>{{ post.time_created }}</p></span>
    {% else %}
        <span><p>{{ post.user }} à demandé une critique</p><p>{{ post.time_created }}</p></span>
    {% endif %}

    <p>{{ post.title }}</p>

    <p>{{ post.description }}</p>
    
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="">
    {% endif %}

    {% if post.has_response %}
    {% else %}
        <a href="{% url 'create-review'%}?ticket_id={{post.id}}"><button>Creer une critique</button></a>
    {% endif %}

    {% if allow_edition %}
        <div class="posts-edition-menu">
            <a href=""><button>Modifier</button></a>
            <a href=""><button>Supprimer</button></a>
        </div>
    {% endif %}
</div>