body {
  font-family: Arial, Helvetica, sans-serif;
  /* Vars */
  --header-height: 50px;
}

header {
  position: absolute;
  height: var(--header-height);
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: absolute;
  top: var(--header-height);
  bottom: 0px;
  width: 100%;
  overflow: auto;
}

button {
  padding: 10px;
  width: 150px;
  background-color: transparent;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
  transform: scale(1);
  transition-duration: 300ms;
}

a:hover {
  transform: scale(1.2);
  
}

button:hover {
  background-color: #e6e6e6;
}

input {
  padding: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

/* Classes */

.height-100 {
  height: 100%;
}

.width-50 {
  width: 50%;
}

.page-navigation {
  position: fixed;
  right: 20px;
  height: var(--header-height);
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control {
  width: 100%;
  margin-top: 15px;
  display: flex;
}

.unseparated-forms {
  padding: 0px 20px;
  width: 80%;
}

.separated-forms {
  padding: 0px 20px;
  width: 80%;
  border: 1px solid black;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radio-select-control > div{
  width: 50px;
}

.radio-select-control > div > label{
  float: left;
  text-align: center;
}

.radio-select-control > div > label > input{
  margin: 0px;
}

.home-button-container {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.home-button-container > a {
  margin: 0px 50px;
}

.home-button-container > a >button {
  width: 100%;
}

.form-control-auth {
  width: 50%;
  text-align: center;
}

.ticket-snippet {
  width: 70%;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.ticket-snippet > a {
  position: relative;
  left: calc(80% - 20px);
}

.ticket-snippet > span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ticket-snippet > a > button {
  width: 20%;
  margin-bottom: 10px;
}

.posts-edition-menu {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-top: 10px;
  border-top: 1px solid black;
}

.posts-edition-menu > a {
  margin: 0px 10px;
}

/* IDs */