{% load static %}

<html>
    <head>
        <title>Litrevu</title>
        <link rel="stylesheet" href="{% static 'normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <header>
            <h1>Litrevu</h1>
        </header>
        <nav class="page-navigation">
            <a href="{% url 'home' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="{% url 'following' %}">Abonnements</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>